<?xml version='1.0' encoding='utf-8'?>
<robot name="manipulator_test">
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0.1" rpy="0 0 0" />
      <geometry>
        <box size="0.64 0.64 0.2" />
      </geometry>
      <material name="green">
        <color rgba="0.1 0.8 0.1 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.1" rpy="0 0 0" />
      <geometry>
        <box size="0.64 0.64 0.2" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.6" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
    </inertial>
  </link>
  <link name="act0Seg0">
    <visual>
      <origin xyz="0 0 0.1" rpy="0 0 0" />
      <geometry>
        <box size="0.46 0.34 0.2" />
      </geometry>
      <material name="purple">
        <color rgba="0.537255 0.407843 0.690196 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.1" rpy="0 0 0" />
      <geometry>
        <box size="0.46 0.34 0.2" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.00294" />
      <inertia ixx="0.0152488" ixy="0" ixz="0" iyy="0.0152488" iyz="0" izz="0.0152488" />
    </inertial>
  </link>
  <joint name="base_link_to_act0Seg0" type="fixed">
    <parent link="base_link" />
    <child link="act0Seg0" />
    <origin xyz="0 0 0.2" rpy="0 0 0" />
    <axis xyz="1 0 0" />
  </joint>
  <link name="act0Seg1">
    <visual>
      <origin xyz="0.0 0.0 0.2" rpy="0.0 0.0 0.0" />
      <geometry>
        <box size="0.46 0.34 0.4" />
      </geometry>
      <material name="purple">
        <color rgba="0.537255 0.407843 0.690196 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.2" rpy="0.0 0.0 0.0" />
      <geometry>
        <box size="0.46 0.34 0.4" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.00294" />
      <inertia ixx="0.0152488" ixy="0" ixz="0" iyy="0.0152488" iyz="0" izz="0.0152488" />
    </inertial>
  </link>
  <joint name="act0Seg0_to_act0Seg1_ax0" type="revolute">
    <parent link="act0Seg0" />
    <child link="act0Seg1" />
    <origin xyz="0.0 0.0 0.2" rpy="0.0 0.0 0.0" />
    <axis xyz="1 0 0" />
    <limit lower="-3.141592" upper="3.141592" effort="100" velocity="3" />
  </joint>
  <link name="act0Seg1helper_shape">
    <visual>
      <origin xyz="0 0 0.0" rpy="0 -1.5707963267948966 0" />
      <geometry>
        <cylinder length="0.46" radius="0.17" />
      </geometry>
      <material name="purple">
        <color rgba="0.537255 0.407843 0.690196 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.0" rpy="0 -1.5707963267948966 0" />
      <geometry>
        <cylinder length="0.46" radius="0.17" />
      </geometry>
    </collision>
    <inertial>
      <mass value="2.94e-06" />
      <inertia ixx="1.52488e-05" ixy="0.0" ixz="0.0" iyy="1.52488e-05" iyz="0.0" izz="1.52488e-05" />
    </inertial>
  </link>
  <joint name="act0Seg0_to_act0Seg1_ax0helper_shape" type="fixed">
    <parent link="act0Seg0" />
    <child link="act0Seg1helper_shape" />
    <origin xyz="0 0 0.2" rpy="0 0 0" />
    <axis xyz="1 0 0" />
  </joint>
  <link name="act0Seg2">
    <visual>
      <origin xyz="0 0 0.2" rpy="0 0 0" />
      <geometry>
        <box size="0.46 0.34 0.4" />
      </geometry>
      <material name="purple">
        <color rgba="0.537255 0.407843 0.690196 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.2" rpy="0 0 0" />
      <geometry>
        <box size="0.46 0.34 0.4" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.00294" />
      <inertia ixx="0.0152488" ixy="0" ixz="0" iyy="0.0152488" iyz="0" izz="0.0152488" />
    </inertial>
  </link>
  <joint name="act0Seg1_to_act0Seg2_ax1" type="revolute">
    <parent link="act0Seg1" />
    <child link="act0Seg2" />
    <origin xyz="0.0 0.0 0.4" rpy="0.0 0.0 0.0" />
    <axis xyz="0 1 0" />
    <limit lower="-3.141592" upper="3.141592" effort="100" velocity="3" />
  </joint>
  <link name="act0Seg2helper_shape">
    <visual>
      <origin xyz="0 0 0.0" rpy="-1.5707963267948966 0 0" />
      <geometry>
        <cylinder length="0.34" radius="0.23" />
      </geometry>
      <material name="purple">
        <color rgba="0.537255 0.407843 0.690196 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.0" rpy="-1.5707963267948966 0 0" />
      <geometry>
        <cylinder length="0.34" radius="0.23" />
      </geometry>
    </collision>
    <inertial>
      <mass value="2.94e-06" />
      <inertia ixx="1.52488e-05" ixy="0.0" ixz="0.0" iyy="1.52488e-05" iyz="0.0" izz="1.52488e-05" />
    </inertial>
  </link>
  <joint name="act0Seg1_to_act0Seg2_ax1helper_shape" type="fixed">
    <parent link="act0Seg1" />
    <child link="act0Seg2helper_shape" />
    <origin xyz="0.0 0.0 0.4" rpy="0.0 0.0 0.0" />
    <axis xyz="1 0 0" />
  </joint>
  <link name="act0Seg3">
    <visual>
      <origin xyz="0.0 0.0 0.2" rpy="0.0 0.0 0.0" />
      <geometry>
        <box size="0.46 0.34 0.4" />
      </geometry>
      <material name="purple">
        <color rgba="0.537255 0.407843 0.690196 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.2" rpy="0.0 0.0 0.0" />
      <geometry>
        <box size="0.46 0.34 0.4" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.00294" />
      <inertia ixx="0.0152488" ixy="0" ixz="0" iyy="0.0152488" iyz="0" izz="0.0152488" />
    </inertial>
  </link>
  <joint name="act0Seg2_to_act0Seg3_ax0" type="revolute">
    <parent link="act0Seg2" />
    <child link="act0Seg3" />
    <origin xyz="0.0 0.0 0.4" rpy="0.0 0.0 0.0" />
    <axis xyz="1 0 0" />
    <limit lower="-3.141592" upper="3.141592" effort="100" velocity="3" />
  </joint>
  <link name="act0Seg3helper_shape">
    <visual>
      <origin xyz="0 0 0.0" rpy="0 -1.5707963267948966 0" />
      <geometry>
        <cylinder length="0.46" radius="0.17" />
      </geometry>
      <material name="purple">
        <color rgba="0.537255 0.407843 0.690196 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.0" rpy="0 -1.5707963267948966 0" />
      <geometry>
        <cylinder length="0.46" radius="0.17" />
      </geometry>
    </collision>
    <inertial>
      <mass value="2.94e-06" />
      <inertia ixx="1.52488e-05" ixy="0.0" ixz="0.0" iyy="1.52488e-05" iyz="0.0" izz="1.52488e-05" />
    </inertial>
  </link>
  <joint name="act0Seg2_to_act0Seg3_ax0helper_shape" type="fixed">
    <parent link="act0Seg2" />
    <child link="act0Seg3helper_shape" />
    <origin xyz="0 0 0.4" rpy="0 0 0" />
    <axis xyz="1 0 0" />
  </joint>
  <link name="act0Seg4">
    <visual>
      <origin xyz="0 0 0.2" rpy="0 0 0" />
      <geometry>
        <box size="0.46 0.34 0.4" />
      </geometry>
      <material name="purple">
        <color rgba="0.537255 0.407843 0.690196 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.2" rpy="0 0 0" />
      <geometry>
        <box size="0.46 0.34 0.4" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.00294" />
      <inertia ixx="0.0152488" ixy="0" ixz="0" iyy="0.0152488" iyz="0" izz="0.0152488" />
    </inertial>
  </link>
  <joint name="act0Seg3_to_act0Seg4_ax1" type="revolute">
    <parent link="act0Seg3" />
    <child link="act0Seg4" />
    <origin xyz="0.0 0.0 0.4" rpy="0.0 0.0 0.0" />
    <axis xyz="0 1 0" />
    <limit lower="-3.141592" upper="3.141592" effort="100" velocity="3" />
  </joint>
  <link name="act0Seg4helper_shape">
    <visual>
      <origin xyz="0 0 0.0" rpy="-1.5707963267948966 0 0" />
      <geometry>
        <cylinder length="0.34" radius="0.23" />
      </geometry>
      <material name="purple">
        <color rgba="0.537255 0.407843 0.690196 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.0" rpy="-1.5707963267948966 0 0" />
      <geometry>
        <cylinder length="0.34" radius="0.23" />
      </geometry>
    </collision>
    <inertial>
      <mass value="2.94e-06" />
      <inertia ixx="1.52488e-05" ixy="0.0" ixz="0.0" iyy="1.52488e-05" iyz="0.0" izz="1.52488e-05" />
    </inertial>
  </link>
  <joint name="act0Seg3_to_act0Seg4_ax1helper_shape" type="fixed">
    <parent link="act0Seg3" />
    <child link="act0Seg4helper_shape" />
    <origin xyz="0.0 0.0 0.4" rpy="0.0 0.0 0.0" />
    <axis xyz="1 0 0" />
  </joint>
  <link name="act0Seg5">
    <visual>
      <origin xyz="0.0 0.0 0.1" rpy="0.0 0.0 0.0" />
      <geometry>
        <box size="0.46 0.34 0.2" />
      </geometry>
      <material name="purple">
        <color rgba="0.537255 0.407843 0.690196 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.1" rpy="0.0 0.0 0.0" />
      <geometry>
        <box size="0.46 0.34 0.2" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.00294" />
      <inertia ixx="0.0152488" ixy="0" ixz="0" iyy="0.0152488" iyz="0" izz="0.0152488" />
    </inertial>
  </link>
  <joint name="act0Seg4_to_act0Seg5_ax0" type="revolute">
    <parent link="act0Seg4" />
    <child link="act0Seg5" />
    <origin xyz="0.0 0.0 0.4" rpy="0.0 0.0 0.0" />
    <axis xyz="1 0 0" />
    <limit lower="-3.141592" upper="3.141592" effort="100" velocity="3" />
  </joint>
  <link name="act0Seg5helper_shape">
    <visual>
      <origin xyz="0 0 0.0" rpy="0 -1.5707963267948966 0" />
      <geometry>
        <cylinder length="0.46" radius="0.17" />
      </geometry>
      <material name="purple">
        <color rgba="0.537255 0.407843 0.690196 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.0" rpy="0 -1.5707963267948966 0" />
      <geometry>
        <cylinder length="0.46" radius="0.17" />
      </geometry>
    </collision>
    <inertial>
      <mass value="2.94e-06" />
      <inertia ixx="1.52488e-05" ixy="0.0" ixz="0.0" iyy="1.52488e-05" iyz="0.0" izz="1.52488e-05" />
    </inertial>
  </link>
  <joint name="act0Seg4_to_act0Seg5_ax0helper_shape" type="fixed">
    <parent link="act0Seg4" />
    <child link="act0Seg5helper_shape" />
    <origin xyz="0 0 0.4" rpy="0 0 0" />
    <axis xyz="1 0 0" />
  </joint>
  <link name="tip_link">
    <visual>
      <origin xyz="0 0.1 0.09999999999999998" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.3" />
      </geometry>
      <material name="white">
        <color rgba="0.8 0.8 0.8 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.1 0.09999999999999998" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.3" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.015" />
      <inertia ixx="0.10944" ixy="0" ixz="0" iyy="0.10944" iyz="0" izz="0.10944" />
    </inertial>
  </link>
  <joint name="act0Seg5_to_tip_link" type="fixed">
    <parent link="act0Seg5" />
    <child link="tip_link" />
    <origin xyz="0.0 0.0 0.2" rpy="0.0 0.0 0.0" />
    <axis xyz="1 0 0" />
  </joint>
</robot>
